<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>Your channels</h4>
		
				<%@channels.each do |s|%>
			<div class="col-md-4">
			<h5>Channel Name:	<%=s.channel_name%></h5>
			<br>
			Channel Privacy Status: <%=s.status%>
			<br>
				<br>
			<button class="btn btn-primary">Click To upload Videos</button>	
			<br>
			<br>
		</div>
		<%end%>
			
			</div>
		</div>