<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>By Creating a Channel You Can upload Videos and Share as public or make private</h4>
		<div  id="content_top">
		<form >
		<div class="col-md-4">
			<br>
			<br>
			<div class="alert alert-info">
  			<strong>* </strong>Enter a channel name
			</div>
			<input type="text" class="form-control">
			<br>
			<button class="btn btn-primary btn-lg">Create </button>
		</div>
		</form>
		</div>
	</div>
		</div>