<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>New Videos</h4>
		<img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg">
	</div>
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>New Channels</h4>
		<img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg">
	</div>
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>Recommended Channels</h4>
		<img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg"><img src="video1.jpg">
	</div>
</div>